version: 2.1
jobs:
  build:
    docker:
      - image: cimg/go:1.17
    steps:
      - checkout
      - run: make jsonnet-vendor
      - run: make generate manifests --always-make
      - run: git diff --exit-code

  test:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: make jsonnet-vendor
      - run: docker pull prom/memcached-exporter:v0.6.0
      - run: docker pull docker.io/memcached:1.6.3-alpine
      - run: docker pull minio/minio:RELEASE.2021-09-09T21-37-07Z
      - run: docker pull grafana/loki:2.1.0
      - run:
          name: e2e tests with operator
          no_output_timeout: 30m
          command: |
            ./tests/e2e.sh kind
            ./tests/e2e.sh load-images
            ./tests/e2e.sh deploy-operator
            ./tests/e2e.sh test --tls
            ./tests/e2e.sh delete-cr
      - store_artifacts:
          path: /tmp/artifacts

  container-push:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: make jsonnet-vendor
      - run: |
          echo "$DOCKER_PASS" | docker login quay.io --username $DOCKER_USER --password-stdin
          make container-push

workflows:
  version: 2
  tagged-master:
    jobs:
      - container-push:
          filters:
            tags:
              only: /^v.*/
            branches:
              only:
                - master
  test-and-push:
    jobs:
      - build
      - test
      - container-push:
          requires:
            - build
          filters:
            branches:
              only:
                - master
